@charset "UTF-8";

header{
	text-align:center;
}

nav{
	display: inline-block;
	float: left;
	margin: 10px;
	width: 20%;
}

section {
	border: 1px solid black;
	background-color: #ffdeb3;
	width: 65%;
	height:500px;
	margin: 10px;
	display: inline-block;
}

footer{
	border: 1px solid black;
}