<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="memberDTO" type="member.bean.MemberDTO"/>
		<typeAlias alias="noticeDTO" type="notice.bean.NoticeDTO"/>
		<typeAlias alias="qnaDTO" type="qna.bean.QnADTO"/>
		<typeAlias alias="commentDTO" type="qna.bean.CommentDTO"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
				 <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				 <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				 <property name="username" value="thdus"/>
				 <property name="password" value="thdus"/>
				</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="member/dao/memberMapper.xml"/>
		<mapper resource="qna/dao/qnaMapper.xml"/>
	</mappers>	
</configuration>

