@charset "UTF-8";

.top_wrap{ width: 100%;}
.top_holder{ width: 1500px; }

.product-top ul, li[id^='anchorBoxId'] {
	list-style-type: none;
}

.product-top ul > li[id^='anchorBoxId'] {
	width: 450px;
	display: inline-block;
	float: left;	
}

.product-top ul > li.hideme{
	display: none;
}